<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0"/>
    <services>
      <service name="UssdAPI.Ussd" behaviorConfiguration="ServiceBehaviour">
        <!-- Service Endpoints -->
        <!--Change the binding to webHttpBinding and set behaviour configuratiion to web-->
        <endpoint address="" binding="webHttpBinding" contract="UssdAPI.IUssd" behaviorConfiguration="web">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
        </endpoint>
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <!--Newly added configuration-->
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <!--End of newly added Configuration-->
    </behaviors>
   <!-- <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true" /></system.serviceModel>
   <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>-->
  </system.serviceModel>
</configuration>
